:root {
	--navigation-bar-height: 75px;
	--navigation-bar-border-width: 3px;
}

.navbar {
	overflow: hidden;
	position: fixed;
	border-bottom: solid var(--navigation-bar-border-width) black;
	margin-left: -8px;
	width: 100%;
	height: var(--navigation-bar-height);
	top: 0;
	z-index: 3520;

	/* Vertical align center */
	display: flex;
	justify-content: center;
	align-items: center;
}

.navbar > h1 {
	font-size: clamp(1.1em, 3vw, 2em);
}

.navbar-2 {
	overflow: hidden;
	position: sticky;
	border-bottom: solid var(--navigation-bar-border-width) black;
	height: var(--navigation-bar-height);
	top: 0;
	z-index: 3520;
}

.navbar-body {
	margin-top: calc(16px + var(--navigation-bar-border-width) + var(--navigation-bar-height));
}