:root {
	--navigation-bar-height: 75px;
}

.navbar {
	overflow: hidden;
	position: fixed;
	border-bottom: solid 3px black;
	margin-left: -50%;
	width: 200%;
	height: var(--navigation-bar-height);
	top: 0;
	z-index: 3520;
}

.navbar-body {
	margin-top: calc(16px + var(--navigation-bar-height));
}
